<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demiphea.dao.NoteDao">
    <resultMap id="note" type="com.demiphea.entity.Note">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="cover" column="cover"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="openPublic" column="is_open_public"/>
        <result property="price" column="price"/>
    </resultMap>

    <select id="listUserBuy" resultMap="note">
        SELECT id,
               title,
               cover,
               content,
               user_id,
               create_time,
               update_time,
               is_open_public,
               price
        FROM note
        WHERE id IN (SELECT note_id
                     FROM bill
                     WHERE user_id = #{userId}
                       AND type = 1
                     ORDER BY create_time DESC)
    </select>

    <select id="listUserView" resultMap="note">
        SELECT id,
               title,
               cover,
               content,
               user_id,
               create_time,
               update_time,
               is_open_public,
               price
        FROM note
        WHERE id IN (SELECT note_id
                     FROM view_history
                     WHERE user_id = #{userId}
                     ORDER BY create_time DESC)
          AND (is_open_public = TRUE OR user_id = #{userId})
    </select>

    <select id="listCollectionNotes" resultMap="note">
        SELECT id,
        title,
        cover,
        content,
        user_id,
        create_time,
        update_time,
        is_open_public,
        price
        FROM note
        WHERE id IN (SELECT note_id
        FROM note_collect
        WHERE collection_id = #{collectionId})
        AND (is_open_public = TRUE
        <if test="userId != null">OR user_id = #{userId}
        </if>)
    </select>
</mapper>